@font-face {
    font-family: 'abel';
    src: url('../fonts/Abel/Abel-Regular.ttf');
}


header {
    font-family: abel;
    background-color: #212830ef;
    color: #fff;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    z-index: 5;
    position:relative;
}

header .hamburguer {
    position: absolute;
    /* margin: 0 0rem; */
    right: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 6;
    visibility: hidden;
}
header .hamburguer img{
    position: absolute;
    height: 2.5rem;
}

header .titulo-header{
    flex-grow: 1;
    text-align: center;
}

header .logo{
    display: flex;
    align-items: center;
    height: 3.5rem;
}

header .logo img {
    background-color: black;
    margin: 0;
    height: 2.8rem;
    border-radius: 50%;
}

header .titulo {
    display: flex;
    /* position: absolute; */
    /* background-color: red; */
    /* flex-grow: 1; */
    margin-right: 0rem;
    /*  */
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    padding: 0 1.5rem;
}

header .titulo img {
    margin: 0;
    height: 2.6rem;
}

header nav a {
    color: #fff;
    margin-left: 0rem;
    text-decoration: none;
}

header nav a:hover {
    color: #ff7b00;
    /* Cor diferente ao passar o mouse */
}
header .opt-menu {
    font-weight: 600;
}

#menu-barras {
    /* display: none; */ /* ------------------------------------------------------------------- */
}
#menu-x {
    display: none; /* ------------------------------------------------------------------- */
}

.spacer {
    /* height: 3.5rem; */
    /* background-color: #333; */
    /* background-color: linear-gradient(white, blue); */
    /* Ajuste a altura para corresponder à altura do header */
}

/* Tela Grande */
@media (min-width: 851px){

    header nav {
        display: flex;
    }

    header .opt-menu {
        /* font-weight: 600; */
        height: 3.5rem;
        display: flex;
        text-align: center;
        align-items: center;
    }

    header .opt-menu a {
        line-height: normal;
    }

    header .opt-menu .opt-princ {
        height: 2.6rem;
        display: flex;
        align-items: center;
        line-height: normal;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0 1rem;
    }



    .menu-suspenso,
    .menu-suspenso-aberto {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #000000dd;
        padding: 1rem;
        border-radius: 15px;
        display: none;
        top: 3.4rem;
        text-align: left;
        font-weight: 600;
        text-shadow: 2px 2px 2px #000000;
        box-shadow: 5px 5px 2px #000000aa;
    }

    .menu-suspenso a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0.5rem 0;
    }

    .menu-suspenso :last-child {
        border-bottom: none;
    }

}



/* Tela Pequena */
@media (max-width: 850px) {
    header {
        /* flex-direction: column; */
    }

    header .logo {
        /* margin-bottom: 10px; */
    }

    header .hamburguer {
        position: relative;
        visibility: visible;
    }

    header nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 17rem;
        background-color: rgba(0, 0, 0, 0.850);
        top: 3.5rem;
        right: 0;
        text-align: left;
        border-radius: 20px;
        padding: 1rem;
        display: none; /* ------------------------------------------------------------------- */
    }

    header nav a {
        /* position: relative; */
        /* visibility: visible
        ; */
    }






    header .menu-suspenso{
        /* position: relative; */
        /* visibility: visible; */
        display: inherit;
        flex-direction: column;
        line-height: normal;
        /* border: 2px solid white; */
    }


    header .opt-menu{
        display: flex;
        flex-direction: column;
        /* border: 5px solid blue; */
    }

    header .opt-menu .opt-princ {
        /* height: 1rem; */
        margin: 3rem 0 1rem 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 15pt;
    }

    .menu-suspenso{
        margin-left: 2rem;
    }
    .menu-suspenso a {
        padding: 0.5rem;
    }

    header .titulo {
        margin-right: 3.5rem;

    }

}

/* Tela Muito Pequena */
